<div id=container_chess>
    <h1>Checkers</h1>
    <br>
    <p id='turn'>It is Player 1's turn</p>
    <br><br>
    <div id="container-board">
        <table id='board'>
            <tr>
                <td class='tile-light' onclick='checkers_move(this,0,0)'></td>
                <td class='tile-dark' onclick='checkers_move(this,0,1)'></td>
                <td class='tile-light' onclick='checkers_move(this,0,2)'></td>
                <td class='tile-dark' onclick='checkers_move(this,0,3)'></td>
                <td class='tile-light' onclick='checkers_move(this,0,4)'></td>
                <td class='tile-dark' onclick='checkers_move(this,0,5)'></td>
                <td class='tile-light' onclick='checkers_move(this,0,6)'></td>
                <td class='tile-dark' onclick='checkers_move(this,0,7)'></td>
            </tr>
            <tr>
                <td class='tile-dark' onclick='checkers_move(this,1,0)'></td>
                <td class='tile-light' onclick='checkers_move(this,1,1)'></td>
                <td class='tile-dark' onclick='checkers_move(this,1,2)'></td>
                <td class='tile-light' onclick='checkers_move(this,1,3)'></td>
                <td class='tile-dark' onclick='checkers_move(this,1,4)'></td>
                <td class='tile-light' onclick='checkers_move(this,1,5)'></td>
                <td class='tile-dark' onclick='checkers_move(this,1,6)'></td>
                <td class='tile-light' onclick='checkers_move(this,1,7)'></td>
            </tr>
            <tr>
                <td class='tile-light' onclick='checkers_move(this,2,0)'></td>
                <td class='tile-dark' onclick='checkers_move(this,2,1)'></td>
                <td class='tile-light' onclick='checkers_move(this,2,2)'></td>
                <td class='tile-dark' onclick='checkers_move(this,2,3)'></td>
                <td class='tile-light' onclick='checkers_move(this,2,4)'></td>
                <td class='tile-dark' onclick='checkers_move(this,2,5)'></td>
                <td class='tile-light' onclick='checkers_move(this,2,6)'></td>
                <td class='tile-dark' onclick='checkers_move(this,2,7)'></td>
            </tr>
            <tr>
                <td class='tile-dark' onclick='checkers_move(this,3,0)'></td>
                <td class='tile-light' onclick='checkers_move(this,3,1)'></td>
                <td class='tile-dark' onclick='checkers_move(this,3,2)'></td>
                <td class='tile-light' onclick='checkers_move(this,3,3)'></td>
                <td class='tile-dark' onclick='checkers_move(this,3,4)'></td>
                <td class='tile-light' onclick='checkers_move(this,3,5)'></td>
                <td class='tile-dark' onclick='checkers_move(this,3,6)'></td>
                <td class='tile-light' onclick='checkers_move(this,3,7)'></td>
            </tr>
            <tr>
                <td class='tile-light' onclick='checkers_move(this,4,0)'></td>
                <td class='tile-dark' onclick='checkers_move(this,4,1)'></td>
                <td class='tile-light' onclick='checkers_move(this,4,2)'></td>
                <td class='tile-dark' onclick='checkers_move(this,4,3)'></td>
                <td class='tile-light' onclick='checkers_move(this,4,4)'></td>
                <td class='tile-dark' onclick='checkers_move(this,4,5)'></td>
                <td class='tile-light' onclick='checkers_move(this,4,6)'></td>
                <td class='tile-dark' onclick='checkers_move(this,4,7)'></td>
            </tr>
            <tr>
                <td class='tile-dark' onclick='checkers_move(this,5,0)'></td>
                <td class='tile-light' onclick='checkers_move(this,5,1)'></td>
                <td class='tile-dark' onclick='checkers_move(this,5,2)'></td>
                <td class='tile-light' onclick='checkers_move(this,5,3)'></td>
                <td class='tile-dark' onclick='checkers_move(this,5,4)'></td>
                <td class='tile-light' onclick='checkers_move(this,5,5)'></td>
                <td class='tile-dark' onclick='checkers_move(this,5,6)'></td>
                <td class='tile-light' onclick='checkers_move(this,5,7)'></td>
            </tr>
            <tr>
                <td class='tile-light' onclick='checkers_move(this,6,0)'></td>
                <td class='tile-dark' onclick='checkers_move(this,6,1)'></td>
                <td class='tile-light' onclick='checkers_move(this,6,2)'></td>
                <td class='tile-dark' onclick='checkers_move(this,6,3)'></td>
                <td class='tile-light' onclick='checkers_move(this,6,4)'></td>
                <td class='tile-dark' onclick='checkers_move(this,6,5)'></td>
                <td class='tile-light' onclick='checkers_move(this,6,6)'></td>
                <td class='tile-dark' onclick='checkers_move(this,6,7)'></td>
            </tr>
            <tr>
                <td class='tile-dark' onclick='checkers_move(this,7,0)'></td>
                <td class='tile-light' onclick='checkers_move(this,7,1)'></td>
                <td class='tile-dark' onclick='checkers_move(this,7,2)'></td>
                <td class='tile-light' onclick='checkers_move(this,7,3)'></td>
                <td class='tile-dark' onclick='checkers_move(this,7,4)'></td>
                <td class='tile-light' onclick='checkers_move(this,7,5)'></td>
                <td class='tile-dark' onclick='checkers_move(this,7,6)'></td>
                <td class='tile-light' onclick='checkers_move(this,7,7)'></td>
            </tr>
        </table>
    </div>
</div>