<h1>Chess</h1>
<br>
<p id="turn">It's White's turn</p>
<br>
<br>
<div id="container-board">
    <table id="board">
        <tr>
            <td id="a1" onclick="chess_move(this);" class="tile-dark"></td>
            <td id="b1" onclick="chess_move(this);" class="tile-light"></td>
            <td id="c1" onclick="chess_move(this);" class="tile-dark"></td>
            <td id="d1" onclick="chess_move(this);" class="tile-light"></td>
            <td id="e1" onclick="chess_move(this);" class="tile-dark"></td>
            <td id="f1" onclick="chess_move(this);" class="tile-light"></td>
            <td id="g1" onclick="chess_move(this);" class="tile-dark"></td>
            <td id="h1" onclick="chess_move(this);" class="tile-light"></td>
        </tr>
        <tr>
            <td id="a2" onclick="chess_move(this);" class="tile-light"></td>
            <td id="b2" onclick="chess_move(this);" class="tile-dark"></td>
            <td id="c2" onclick="chess_move(this);" class="tile-light"></td>
            <td id="d2" onclick="chess_move(this);" class="tile-dark"></td>
            <td id="e2" onclick="chess_move(this);" class="tile-light"></td>
            <td id="f2" onclick="chess_move(this);" class="tile-dark"></td>
            <td id="g2" onclick="chess_move(this);" class="tile-light"></td>
            <td id="h2" onclick="chess_move(this);" class="tile-dark"></td>
        </tr>
        <tr>
            <td id="a3" onclick="chess_move(this);" class="tile-dark"></td>
            <td id="b3" onclick="chess_move(this);" class="tile-light"></td>
            <td id="c3" onclick="chess_move(this);" class="tile-dark"></td>
            <td id="d3" onclick="chess_move(this);" class="tile-light"></td>
            <td id="e3" onclick="chess_move(this);" class="tile-dark"></td>
            <td id="f3" onclick="chess_move(this);" class="tile-light"></td>
            <td id="g3" onclick="chess_move(this);" class="tile-dark"></td>
            <td id="h3" onclick="chess_move(this);" class="tile-light"></td>
        </tr>
        <tr>
            <td id="a4" onclick="chess_move(this);" class="tile-light"></td>
            <td id="b4" onclick="chess_move(this);" class="tile-dark"></td>
            <td id="c4" onclick="chess_move(this);" class="tile-light"></td>
            <td id="d4" onclick="chess_move(this);" class="tile-dark"></td>
            <td id="e4" onclick="chess_move(this);" class="tile-light"></td>
            <td id="f4" onclick="chess_move(this);" class="tile-dark"></td>
            <td id="g4" onclick="chess_move(this);" class="tile-light"></td>
            <td id="h4" onclick="chess_move(this);" class="tile-dark"></td>
        </tr>
        <tr>
            <td id="a5" onclick="chess_move(this);" class="tile-dark"></td>
            <td id="b5" onclick="chess_move(this);" class="tile-light"></td>
            <td id="c5" onclick="chess_move(this);" class="tile-dark"></td>
            <td id="d5" onclick="chess_move(this);" class="tile-light"></td>
            <td id="e5" onclick="chess_move(this);" class="tile-dark"></td>
            <td id="f5" onclick="chess_move(this);" class="tile-light"></td>
            <td id="g5" onclick="chess_move(this);" class="tile-dark"></td>
            <td id="h5" onclick="chess_move(this);" class="tile-light"></td>
        </tr>
        <tr>
            <td id="a6" onclick="chess_move(this);" class="tile-light"></td>
            <td id="b6" onclick="chess_move(this);" class="tile-dark"></td>
            <td id="c6" onclick="chess_move(this);" class="tile-light"></td>
            <td id="d6" onclick="chess_move(this);" class="tile-dark"></td>
            <td id="e6" onclick="chess_move(this);" class="tile-light"></td>
            <td id="f6" onclick="chess_move(this);" class="tile-dark"></td>
            <td id="g6" onclick="chess_move(this);" class="tile-light"></td>
            <td id="h6" onclick="chess_move(this);" class="tile-dark"></td>
        </tr>
        <tr>
            <td id="a7" onclick="chess_move(this);" class="tile-dark"></td>
            <td id="b7" onclick="chess_move(this);" class="tile-light"></td>
            <td id="c7" onclick="chess_move(this);" class="tile-dark"></td>
            <td id="d7" onclick="chess_move(this);" class="tile-light"></td>
            <td id="e7" onclick="chess_move(this);" class="tile-dark" ></td>
            <td id="f7" onclick="chess_move(this);" class="tile-light"></td>
            <td id="g7" onclick="chess_move(this);" class="tile-dark"></td>
            <td id="h7" onclick="chess_move(this);" class="tile-light"></td>
        </tr>
        <tr>
            <td id="a8" onclick="chess_move(this);" class="tile-light"></td>
            <td id="b8" onclick="chess_move(this);" class="tile-dark"></td>
            <td id="c8" onclick="chess_move(this);" class="tile-light"></td>
            <td id="d8" onclick="chess_move(this);" class="tile-dark"></td>
            <td id="e8" onclick="chess_move(this);" class="tile-light"></td>
            <td id="f8" onclick="chess_move(this);" class="tile-dark"></td>
            <td id="g8" onclick="chess_move(this);" class="tile-light"></td>
            <td id="h8" onclick="chess_move(this);" class="tile-dark"></td>
        </tr>
    </table>
</div>

<script>
    
    const chessGame = new Chess();
    let board = document.getElementById("board");
    let pending = null;
    
    const w_pawn    = createElementFromHTML("<div class="container_piece"><img class='game_piece' src='chess/w_pawn.png'></div>");
    const w_knight  = createElementFromHTML("<div class="container_piece"><img class='game_piece' src='chess/w_knight.png'></div>");
    const w_bishop  = createElementFromHTML("<div class="container_piece"><img class='game_piece' src='chess/w_bishop.png'></div>");
    const w_rook    = createElementFromHTML("<div class="container_piece"><img class='game_piece' src='chess/w_rook.png'></div>");
    const w_queen   = createElementFromHTML("<div class="container_piece"><img class='game_piece' src='chess/w_queen.png'></div>");
    const w_king    = createElementFromHTML("<div class="container_piece"><img class='game_piece' src='chess/w_king.png'></div>");
    const b_pawn    = createElementFromHTML("<div class="container_piece"><img class='game_piece' src='chess/b_pawn.png'></div>");
    const b_knight  = createElementFromHTML("<div class="container_piece"><img class='game_piece' src='chess/b_knight.png'></div>");
    const b_bishop  = createElementFromHTML("<div class="container_piece"><img class='game_piece' src='chess/b_bishop.png'></div>");
    const b_rook    = createElementFromHTML("<div class="container_piece"><img class='game_piece' src='chess/b_rook.png'></div>>");
    const b_queen   = createElementFromHTML("<div class="container_piece"><img class='game_piece' src='chess/b_queen.png'></div>");
    const b_king    = createElementFromHTML("<div class="container_piece"><img class='game_piece' src='chess/b_king.png'></div>");
    
    let pending = null;
    function chess_move(cell) {
        let pos = cell.id;
        if (pending == null) {
            
            cell.style = "background-color: rgba(240, 255, 0, 0.5);"
            pending = {
                "cell": cell,
                "position": pos
            };
        } else {
        
            if (chessGame.moves({ square: pending.position }).includes(pos)) {
                
                chessGame.move({ from: pending.position, to: pos });
                pending.cell.style = "";
                pending = null;
            }
        }
    }
    function chess_sendBoard() {
    
        let i = 0;
        let j = 0;
        
        let chessGame_board = chessGame.board();
        let board_translated = [][];
        //translate game board;
        for (i = 0; i < chessGame_board.length; i++) {
            for (j = 0; j < chessGame_board[i].length; j++) {
                
                let cell = chessGame_board[i][j];
                if (cell != null) {
                    if (cell.color == 'b') { //piece is black
                        if (cell.type == 'p') { board_translated[i].push(1); }      //piece is pawn
                        else if (cell.type == 'b') { board_translated[i].push(2); } //piece is bishop
                        else if (cell.type == 'n') { board_translated[i].push(3); } //piece is knight
                        else if (cell.type == 'r') { board_translated[i].push(4); } //piece is rook
                        else if (cell.type == 'q') { board_translated[i].push(5); } //piece is queen
                        else if (cell.type == 'k') { board_translated[i].push(6); } //piece is king
                    } else { //piece is white
                        
                        if (cell.type == 'p') { board_translated[i].push(7); }      //piece is pawn
                        else if (cell.type == 'b') { board_translated[i].push(8); } //piece is bishop
                        else if (cell.type == 'n') { board_translated[i].push(9); } //piece is knight
                        else if (cell.type == 'r') { board_translated[i].push(10); } //piece is rook
                        else if (cell.type == 'q') { board_translated[i].push(11); } //piece is queen
                        else if (cell.type == 'k') { board_translated[i].push(12); } //piece is king
                    }
                } else { board_translated[i].push(0); }
            }
        }
        
        let sendJson = {
            "intent" : 204,
            "payload" : {
                "array": board_translated,
                "integer": 2
            },
            identifier: GSID
        }
        
        socket.send(JSON.stringify(json));
    }
    function chess_updateBoard(updateTo) {
    
        let i = 0;
        let j = 0;
        
        chess_clearBoard();
        for (i = 0; i < updateTo.length; i++) {
            for (j = 0; j < updateTo[i].length; j++) {
                let letter;
                if      (i == 0) { letter = 'a'; }
                else if (i == 1) { letter = 'b'; }
                else if (i == 2) { letter = 'c'; }
                else if (i == 3) { letter = 'd'; }
                else if (i == 4) { letter = 'e'; }
                else if (i == 5) { letter = 'f'; }
                else if (i == 6) { letter = 'g'; }
                else if (i == 7) { letter = 'h'; }
                let cell = updateTo[i][j];
                switch(cell) {
                    
                    case 1:
                        chessGame.put({ type:  'p', color: 'b' }, letter + j);
                        board.rows[i].cells[j].innerHTML = b_pawn;
                        break;
                    case 2:
                        chessGame.put({ type:  'b', color: 'b' }, letter + j);
                        board.rows[i].cells[j].innerHTML = b_bishop;
                        break;
                    case 3:
                        chessGame.put({ type:  'n', color: 'b' }, letter + j);
                        board.rows[i].cells[j].innerHTML = b_knight;
                        break;
                    case 4:
                        chessGame.put({ type:  'r', color: 'b' }, letter + j);
                        board.rows[i].cells[j].innerHTML = b_rook;
                        break;
                    case 5:
                        chessGame.put({ type:  'q', color: 'b' }, letter + j);
                        board.rows[i].cells[j].innerHTML = b_queen;
                        break;
                    case 6:
                        chessGame.put({ type:  'k', color: 'b' }, letter + j);
                        board.rows[i].cells[j].innerHTML = b_king;
                        break;
                    case 7:
                        chessGame.put({ type:  'p', color: 'w' }, letter + j);
                        board.rows[i].cells[j].innerHTML = w_pawn;
                        break;
                    case 8:
                        chessGame.put({ type:  'b', color: 'w' }, letter + j);
                        board.rows[i].cells[j].innerHTML = w_bishop;
                        break;
                    case 9:
                        chessGame.put({ type:  'n', color: 'w' }, letter + j);
                        board.rows[i].cells[j].innerHTML = w_knight;
                        break;
                    case 10:
                        chessGame.put({ type:  'r', color: 'w' }, letter + j);
                        board.rows[i].cells[j].innerHTML = w_rook;
                        break;
                    case 11:
                        chessGame.put({ type:  'q', color: 'w' }, letter + j);
                        board.rows[i].cells[j].innerHTML = w_queen;
                        break;
                    case 12:
                        chessGame.put({ type:  'k', color: 'w' }, letter + j);
                        board.rows[i].cells[j].innerHTML = w_king;
                        break;
                }
            }
        }
        
        updateTurn();
    }
    function chess_clearBoard() {
        
        let i = 0;
        let j = 0;
        
        for (i = 0; i < board.rows.length; i++) {
            for(j = 0; j < board.rows.rows[i].cells.length; j++) { board.rows[i].cells[j].innerHTML = ""; }
        }
        
        chessGame.clear();
    }
</script>

