<div id="container_chess">
    <h1>Chess</h1>
    <br>
    <p id="turn">It's your turn</p>
    <br>
    <br>
    <div id="container-board">
        <table id="board">
            <tr>
                <td id="a8" onclick="chess_move(this);" class="tile-dark"></td>
                <td id="b8" onclick="chess_move(this);" class="tile-light"></td>
                <td id="c8" onclick="chess_move(this);" class="tile-dark"></td>
                <td id="d8" onclick="chess_move(this);" class="tile-light"></td>
                <td id="e8" onclick="chess_move(this);" class="tile-dark"></td>
                <td id="f8" onclick="chess_move(this);" class="tile-light"></td>
                <td id="g8" onclick="chess_move(this);" class="tile-dark"></td>
                <td id="h8" onclick="chess_move(this);" class="tile-light"></td>
            </tr>
            <tr>
                <td id="a7" onclick="chess_move(this);" class="tile-light"></td>
                <td id="b7" onclick="chess_move(this);" class="tile-dark"></td>
                <td id="c7" onclick="chess_move(this);" class="tile-light"></td>
                <td id="d7" onclick="chess_move(this);" class="tile-dark"></td>
                <td id="e7" onclick="chess_move(this);" class="tile-light"></td>
                <td id="f7" onclick="chess_move(this);" class="tile-dark"></td>
                <td id="g7" onclick="chess_move(this);" class="tile-light"></td>
                <td id="h7" onclick="chess_move(this);" class="tile-dark"></td>
            </tr>
            <tr>
                <td id="a6" onclick="chess_move(this);" class="tile-dark"></td>
                <td id="b6" onclick="chess_move(this);" class="tile-light"></td>
                <td id="c6" onclick="chess_move(this);" class="tile-dark"></td>
                <td id="d6" onclick="chess_move(this);" class="tile-light"></td>
                <td id="e6" onclick="chess_move(this);" class="tile-dark"></td>
                <td id="f6" onclick="chess_move(this);" class="tile-light"></td>
                <td id="g6" onclick="chess_move(this);" class="tile-dark"></td>
                <td id="h6" onclick="chess_move(this);" class="tile-light"></td>
            </tr>
            <tr>
                <td id="a5" onclick="chess_move(this);" class="tile-light"></td>
                <td id="b5" onclick="chess_move(this);" class="tile-dark"></td>
                <td id="c5" onclick="chess_move(this);" class="tile-light"></td>
                <td id="d5" onclick="chess_move(this);" class="tile-dark"></td>
                <td id="e5" onclick="chess_move(this);" class="tile-light"></td>
                <td id="f5" onclick="chess_move(this);" class="tile-dark"></td>
                <td id="g5" onclick="chess_move(this);" class="tile-light"></td>
                <td id="h5" onclick="chess_move(this);" class="tile-dark"></td>
            </tr>
            <tr>
                <td id="a4" onclick="chess_move(this);" class="tile-dark"></td>
                <td id="b4" onclick="chess_move(this);" class="tile-light"></td>
                <td id="c4" onclick="chess_move(this);" class="tile-dark"></td>
                <td id="d4" onclick="chess_move(this);" class="tile-light"></td>
                <td id="e4" onclick="chess_move(this);" class="tile-dark"></td>
                <td id="f4" onclick="chess_move(this);" class="tile-light"></td>
                <td id="g4" onclick="chess_move(this);" class="tile-dark"></td>
                <td id="h4" onclick="chess_move(this);" class="tile-light"></td>
            </tr>
            <tr>
                <td id="a3" onclick="chess_move(this);" class="tile-light"></td>
                <td id="b3" onclick="chess_move(this);" class="tile-dark"></td>
                <td id="c3" onclick="chess_move(this);" class="tile-light"></td>
                <td id="d3" onclick="chess_move(this);" class="tile-dark"></td>
                <td id="e3" onclick="chess_move(this);" class="tile-light"></td>
                <td id="f3" onclick="chess_move(this);" class="tile-dark"></td>
                <td id="g3" onclick="chess_move(this);" class="tile-light"></td>
                <td id="h3" onclick="chess_move(this);" class="tile-dark"></td>
            </tr>
            <tr>
                <td id="a2" onclick="chess_move(this);" class="tile-dark"></td>
                <td id="b2" onclick="chess_move(this);" class="tile-light"></td>
                <td id="c2" onclick="chess_move(this);" class="tile-dark"></td>
                <td id="d2" onclick="chess_move(this);" class="tile-light"></td>
                <td id="e2" onclick="chess_move(this);" class="tile-dark" ></td>
                <td id="f2" onclick="chess_move(this);" class="tile-light"></td>
                <td id="g2" onclick="chess_move(this);" class="tile-dark"></td>
                <td id="h2" onclick="chess_move(this);" class="tile-light"></td>
            </tr>
            <tr>
                <td id="a1" onclick="chess_move(this);" class="tile-light"></td>
                <td id="b1" onclick="chess_move(this);" class="tile-dark"></td>
                <td id="c1" onclick="chess_move(this);" class="tile-light"></td>
                <td id="d1" onclick="chess_move(this);" class="tile-dark"></td>
                <td id="e1" onclick="chess_move(this);" class="tile-light"></td>
                <td id="f1" onclick="chess_move(this);" class="tile-dark"></td>
                <td id="g1" onclick="chess_move(this);" class="tile-light"></td>
                <td id="h1" onclick="chess_move(this);" class="tile-dark"></td>
            </tr>
        </table>
    </div>
</div>

