<!doctype html>

<html lang="en">
	<head>
		<title>gGaM3_zZoN3</title>
	</head>

	<body style="background-color:DarkBlue; height: 95vh">
		<script src="frontendLogic.js" type="text/javascript"></script>
		<script>
			function ticTrans(){
				init(document)
				selectGame('Tic');
			}
		</script>
		<div style="background-image: url('https://i.imgur.com/X6ucgYf.jpg');background-repeat: no-repeat; background-size: cover; height: 102%;">
		
		<div class="rainbow-text" style="text-align:center; font-size:40px;">
			<b style="color:#ff00ff">g</b><b style="color:#ff00cc">G</b><b style="color:#ff0099">a</b><b style="color:#ff0066">M</b><b style="color:#ff0033">3</b> <b style="color:#ff0000">z</b><b style="color:#ff3300">Z</b><b style="color:#ff6600">o</b><b style="color:#ff9900">N</b><b style="color:#ffcc00">3</b>
		</div>
		<h2 style=" text-align:center; color:#ff9900;">Jamie Peterson, Rob Barton, Sean Griffen, A. Kira Pierce</h2>
		
		<fieldset id="set" style="border-color: #ff9900;height: 80%;">
			
			<div id="onCenter" class="wrapper" align="center">
				<button style="font-size:24px;width:150px;" type="button" onclick="ticTrans()" id="tic">>TicTacToe!</button>
			<br>
				<button style="font-size:24px;width:150px;" type="button" id="check">Checkers!</button>
			<br>
			
				<button style="font-size:24px;width:150px;" type="button" id="chess">Chess!</button>
			</div>
			
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<!img src="Twitter-icon.png" style="width:50px;height:50px; vertical-align:middle;"><!a style="padding-left:5px; font-size:160%; vertical-align:middle; color:white;" href="https://twitter.com/KiraPierce16"><!Twitter><!/a>
			<!br>
			<!img src="Discord-icon.png" style="padding-left:2px; width:46px;height:46px; vertical-align:middle;"><!a style="padding-left:7px; font-size:160%; vertical-align:middle; color:white;" href="https://discord.gg/PaGhZ3e"><!Discord><!/a>
		</fieldset>
		</div>
	</body>
</html>